<ng-container>
  <h3> Payment Methods </h3>

  <button mat-raised-button (click)="add()" style="margin-bottom: 1rem;">Add New</button>

  <ng-container *ngFor="let paymentMethodForm of formArray.controls; let i = index" [formGroup]="paymentMethodForm">
    <div>
      <mat-form-field style="margin-right: 1rem">
        <mat-label>Sort</mat-label>
        <input matInput formControlName="sort" required/>
      </mat-form-field>

      <mat-form-field style="margin-right: 1rem">
        <mat-label>Account</mat-label>
        <input matInput formControlName="account" required/>
      </mat-form-field>

      <button mat-raised-button (click)="remove(i)">Remove</button>
    </div>
  </ng-container>

</ng-container>
