<ng-container [formGroup]="addressFormGroup">
    <h3>Address</h3>

    <div>
      <mat-form-field>
        <mat-label>Address Line 1</mat-label>
        <input matInput formControlName="addressLine1" required/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Address Line 2</mat-label>
        <input matInput formControlName="addressLine2" required/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput formControlName="city" required/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Postcode</mat-label>
        <input matInput formControlName="postcode" required/>
      </mat-form-field>
    </div>
</ng-container>
